<% include partials/header %>

<div class="site-wrapper cover-about">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">Страница не найдена</h1>
        <!--<p class="lead">Страница не найдена</p>-->
      </div>
    </div>
  </div>
</div>
</div>

<% include partials/footer %>