<% include partials/header %>

<!--<div class="header-index">-->
<!--    <div class="m_text_wrapper">-->
<!--		<div class="m_text_wrap" >-->
<!--			<div class="text_block_title">Немного о нас</div>-->
<!--			<div class="text_blocks">-->
<!--				<div class="text_j small right">-->
<!--					<div class="title">Добро пожаловать на наш сайт</div>-->
<!--					<div class="text_wrap clear-self">-->
<!--						<div class="pic thumbnail">-->
<!--							<img src="/uploads/luca-bravo-415109.jpg" alt="Добро пожаловать на наш сайт" />-->
<!--						</div>-->
<!--						<div class="text">-->
<!--							<p>Вас приветствует "Компания", основанная в 1990 году. У нашей компании два канала продаж - фирменные магазины и прямые продажи по телефону.</p>-->
<!--							<p>Компания занимается торговлей:</p>-->
<!--							<p>- изделиями медицинского назначения;<br />- антисептическими и дезинфицирующими средствами;<br />- моющими средствами;<br />- средствами для дезинсекции и дератизации;<br />- одноразовой одеждой, в т.ч. стерильной;<br />- инструментами для гинекологии и урологии <br />- раневыми покрытиями; перевязка (бинты и вата)<br />- инструментами для маникюра и педикюра;<br />- расходными материлами для косметологии.</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--<div class="container">-->
<!--			<div class="profile-header text-center" style="background-image: url(/uploads/iceland.jpg); ">-->
<!--			  <div class="container-fluid">-->
<!--			    <div class="container-inner">-->
<!--			      <img class="rounded-circle media-object" src="/uploads/favicon.ico">-->
<!--			      <h3 class="profile-header-user">Dave Gamache</h3>-->
<!--			      <p class="profile-header-bio">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>-->
<!--			    </div>-->
<!--			  </div>-->
<!--			</div>-->
<!--</div>-->

<div class="site-wrapper cover-about">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">Обо мне</h1>
        <p class="lead">Съешь ещё этих мягких французских булок да выпей же чаю</p>
      </div>
    </div>
  </div>
</div>
</div>
<% include partials/footer %>