<% include partials/header %>
<div class="site-wrapper cover-about">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 id="about" class="cover-heading">About</h1>
        <p class="lead">Lorem ipsum1</p>
        <p class="lead">Lorem ipsum2</p>
        <p class="lead">Lorem ipsum3</p>
        <p class="lead">Lorem ipsum4</p>
        <p class="lead">Lorem ipsum5</p>
        <p class="lead">Lorem ipsum6</p>
        <p class="lead">Lorem ipsum7</p>
        <p class="lead">Lorem ipsum8</p>
        <p class="lead">Lorem ipsum9</p>
        <a href="#about"><p class="lead">Lorem ipsum10</p></a>
        
      </div>
    </div>
  </div>
</div>
</div>
<% include partials/footer %>