<% include partials/header %>
<div class="header-index">
	<div class="header-wrapper">
		<div class="header-inner">
			<div class="left-part">
				<div class="logo">
				    
				</div>
				<div class="site-name-wrapper">
					<div class="site-name">Личный сайт</div>
					<div class="site-activity">Школы, гимназии</div>
				</div>
				</div>
				<div class="right-part">
					<div class="phones-part">
						<div class="work-time">Ежедневно: с 09-00 до 20-00</div>
						<div class="phones">
							<div>
								<a href="tel:+7 (000) 000-00-00" class="csspatch-ignore">+7 (000) 000-00-00</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="big-pic ">
		<div class="big-pic-wrapper center-center " style="background-image: url('/uploads/luca-bravo-415109.jpg');">
			<div class="big-pic-inner">
				<div class="text-part">
					<div class="slogan">Детский сад #8</div>
					<div class="slogan-inner">Балашиха-3</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m_text_wrapper ">
		<div class="m_text_wrap" >
			<div class="text_block_title">Добро пожаловать на сайт</div>
			<div class="text_block_title">Здесь выводить случайные статьи из раздела Материалы</div>
			<div class="text_block_title">В каждом из ниженаходящихся div-ов small right или small left</div>
			<div class="text_blocks">
				<div class="text_j small right">
					<div class="title">Проект внедрения электронных учебников в школах</div>
					<div class="text_wrap clear-self">
						<div class="pic thumbnail">
							<img src="/uploads/luca-bravo-415109.jpg" alt="Проект внедрения электронных учебников в школах" />
						</div>
						<div class="text">
							<p>Весной 2013 года в 75 школах был проведен эксперимент длительностью в 60 дней, на основании которого учителя смогли сделать вывод о положительной динамике использования электронных учебников в образовательном процессе. Однако было отмечено, что проект нуждается в доработке. До 2015 года было проведено ещё несколько стадий тестирования, по результатам которых согласно принятому закону с 1 января 2015 года все российские школы обязаны перейти на те учебники, для которых будет выпущена электронная версия. Электронный учебник является частью проекта &laquo;Электронная Образовательная Среда&raquo;, инициированного мэром Москвы. Данный проект&nbsp;&mdash; это единое образовательное поле, в котором размещены различные идеи:</p>
						</div>
					</div>
				</div>
				<div class="text_j small left">
					<div class="title">Распределение школьного времени</div>
					<div class="text_wrap clear-self">
						<div class="pic thumbnail">
							<img src="/uploads/luca-bravo-415109.jpg" alt="Распределение школьного времени" />
						</div>
						<div class="text">
							<p>Школьное время, в общем и целом распределяется на три этапа: урок, перемена и &laquo;продлёнка&raquo;. Урок и перемена чередуются между собой некоторое количество раз, а &laquo;продлёнка&raquo; завершает учебный день.</p>
							<ul>
								<li>Урок&nbsp;&mdash; занятие школьников по предметам.</li>
								<li>Перемена&nbsp;&mdash; отдых между уроками.</li>
								<li>&laquo;Продлёнка&raquo; (<i>полн.</i>&nbsp;Группа продлённого дня, ГПД)&nbsp;&mdash; нахождение ученика в школе после окончания уроков (обеспечивается питание, возможность подготовки уроков), если нет возможности нахождения ребёнка дома.</li>
								<li>Элективы (элективные курсы), факультативы (как правило проводятся после основных занятий).</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-with-pic ">
		<div class="text-with-pic-wrapper">
			<div class="text-with-pic-inner 400 small clear-self">
				<div class="text-part" style="text-align:center;">
					<div class="title">Мы выбираем спорт</div>
				</div>
				<div class="pic-part thumbnail">
					<img src="/uploads/luca-bravo-415109.jpg" alt="">
					</div>
					<div class="text-part">
						<div class="title-after">15 сентября ученики приняли участие в спортивном параде «Мы выбираем спорт»</div>
						<div class="text">В ходе проведения праздника ребята увидели показательные выступления лучших групп по разным видам спорта, которые существуют в Центральном районе Санкт-Петербурга. Подведение итогов предыдущего учебного года было ознаменовано награждением директоров школ и учителей физической культуры, отличившихся в минувшем сезоне. Команды нашей школы были награждены грамотами и тремя кубками первой степени — за победу в «Президентских играх» и «Президентских состязаниях» среди учащихся старших классов и за общекомандное первенство в Спартакиаде младших школьников района.</div>
					</div>
			</div>
		</div>
	</div>
</div>


<% include partials/footer %>