<html>
    <head>
      <title>Личный сайт Притворовой Анны Андреевны</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/intro.css">
    </head>
    <body>
        <div id="landing-header">
            <h2>Добро пожаловать на личный сайт 
            <!--Притворовой Анны Андреевны-->
            </h2>
            <a href="/index" class="btn btn-lg btn-success">Перейти на сайт</a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    
<% include partials/footer.ejs %>