<% include partials/header %>

Портфолио - список достижений и участий в конференциях и т.п.
<div class="header-index">
    <div class="m_text_wrapper ">
		<div class="m_text_wrap" >
			<div class="text_block_title">Добро пожаловать в раздел Портфолио</div>
			<div class="text_blocks">
				<div class="text_j small right">
					<div class="title">Проект внедрения электронных учебников в школах</div>
					<div class="text_wrap clear-self">
						<div class="pic thumbnail">
							<img src="/uploads/luca-bravo-415109.jpg" alt="Проект внедрения электронных учебников в школах" />
						</div>
						<div class="text">
							<p>Весной 2013 года в 75 школах был проведен эксперимент длительностью в 60 дней, на основании которого учителя смогли сделать вывод о положительной динамике использования электронных учебников в образовательном процессе. Однако было отмечено, что проект нуждается в доработке. До 2015 года было проведено ещё несколько стадий тестирования, по результатам которых согласно принятому закону с 1 января 2015 года все российские школы обязаны перейти на те учебники, для которых будет выпущена электронная версия. Электронный учебник является частью проекта &laquo;Электронная Образовательная Среда&raquo;, инициированного мэром Москвы. Данный проект&nbsp;&mdash; это единое образовательное поле, в котором размещены различные идеи:</p>
						</div>
					</div>
				</div>
				<div class="text_j small left">
					<div class="title">Распределение школьного времени</div>
					<div class="text_wrap clear-self">
						<div class="pic thumbnail">
							<img src="/uploads/luca-bravo-415109.jpg" alt="Распределение школьного времени" />
						</div>
						<div class="text">
							<p>Школьное время, в общем и целом распределяется на три этапа: урок, перемена и &laquo;продлёнка&raquo;. Урок и перемена чередуются между собой некоторое количество раз, а &laquo;продлёнка&raquo; завершает учебный день.</p>
							<ul>
								<li>Урок&nbsp;&mdash; занятие школьников по предметам.</li>
								<li>Перемена&nbsp;&mdash; отдых между уроками.</li>
								<li>&laquo;Продлёнка&raquo; (<i>полн.</i>&nbsp;Группа продлённого дня, ГПД)&nbsp;&mdash; нахождение ученика в школе после окончания уроков (обеспечивается питание, возможность подготовки уроков), если нет возможности нахождения ребёнка дома.</li>
								<li>Элективы (элективные курсы), факультативы (как правило проводятся после основных занятий).</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>