<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1>Добавить новую ссылку</h1>
        <div style="width: 40%; margin: 25px auto">
            <form action="/links" method="POST">
                <div class="form-row">
                    <div class="form-group">
                      <input type="text" name="link[name]" class="form-control" placeholder="название">
                    </div>
                    <div class="form-group">
                      <input type="text" name="link[description]" class="form-control" placeholder="описание">
                    </div>
                    <div class="form-group">
                      <input type="text" name="link[link]" class="form-control" placeholder="ссылка">
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-success" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>